parameters:
    level: 8
    ignoreErrors:
        - '#Call to an undefined method Spryker\\Shared\\Kernel\\Transfer\\TransferInterface::*.#'
    excludePaths:
        - '%rootDir%/../../../src/Spryker/MessageBrokerAws/src/Spryker/Zed/MessageBrokerAws/Business/Normalizer/TransferNormalizer.php'
